.banner{
	background-image: url(../../images/background.jpg);
	color: black;
	padding: 400px 0px;
	background-size: cover;
	background-position: top;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner h1{
	font-size: 65px;
  position: absolute;
  top: 30%;
  left: 30%;
   transform: translate(-50%, -50%);
}
.banner h2{
  font-size: 45px;
  font-family: 'Great Vibes', cursive;
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.banner{
  background-image: url(../../images/background.jpg);
  color: black;
  padding: 400px 0px;
  background-size: cover;
  background-position: top;
  position: relative;
}
