.profile-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-info {
    flex: 2;
    padding: 10px;
}

.profile-photo {
    flex: 1;
    padding: 10px;
}

.profile-info, .profile-photo {
    margin-bottom: 20px;
}

.profile-photo img {
    width: 100%;
    height: auto;
}
